:root{
    --background-color: white;
    --backdropfilter: 4px;
}


.center{
    height:fit-content;
    justify-content:center;
    align-items:center;
}


body{
   /* overflow-x:hidden; */
    margin:0px;
}


img{
    border-radius: 0px 20px 0px 20px;
}

.wrapper{
    background-size:cover;
    width: 100%;
    height:fit-content;
    overflow-y:hidden;
}

#about_page{
    height: fit-content;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 4fr 0.25fr;
    grid-template-areas: 
    'hd hd hd hd '
    'mn mn mn mn'
    'ft ft ft ft';
    background-image: url("/img/animals/meerkats-zoo-animals-zoological-garden-preview.jpeg");
    background-size: 100% 100%;
}

#menu_page{
    overflow:hidden;
    height:100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
    'meny_options meny_options'
    'menu menu';
    backdrop-filter:saturate(180%) blur(10px);
}

header{
    display: flex;
    flex: space-between;
    justify-content: space-around;
    align-items: center;
    grid-area: hd;
    color:white;
    background: rgba(0, 0, 0, 0.8);
}

main{
    grid-area: mn;
}

footer{
    display:flex;
    justify-content: center;
    align-self:baseline;
    grid-area: ft;
    background-color: rgb(100, 100, 100);
}

a{
    color:white;
    text-decoration: underline;
}
a:hover{
    color:grey;
}

/* Texts */
h1{
font-size: clamp(1px, 16px 16px);
}
p{
    font-size: clamp(1.5vw, 16px, 16px);
}


/* Landing page */
.landing_page_wrap{
    height:100%;
    width:100%;
    display:grid;
    grid-template-areas:
    'iframe direc'
    'about about'
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

.Direc{
    grid-template:direc;    
    padding:5%;
    font-size: 1.5em;
}

.about{
    grid-template:about;
    text-align:center;
    font-size:1em;
    justify-content: center;
    align-items: center;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to bottom, black, white) 1;
    border-right:none;
}




iframe {
    justify-content: center;
    padding: 2%;
    border: none;
}
.map{
width:100%;
height: 50vh;
}




/* About page */
.main_cards{
    overflow:hidden;
    margin-top:3%;
    padding-left:5px;

    background: rgba(255, 255, 255, 0.8);

    height: 1fr;
    width: 8fr;

    border: 1px black solid;
    border-radius: 0px 40px 0px 40px;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
    'cardtext cardright';
}
.cardright{
    grid-area:cardright
}
.card_image{
    height: auto;
    width: 100%;
    justify-self:center;
}

.employeetitle{
    text-align:center;
}



/* Menu page */
.meny_title{
    backdrop-filter: saturate(180%) blur(10px);
    text-align:center;
    grid-area: Meny_title;
    justify-content: center;
    align-items: center;
}

.meny_options{
    display:flex;
    justify-content: center;
    gap:100px;
    grid-area: meny_options;
}
h3:active{
    color:red;
}




.menu{
    grid-area: menu;
}

#lunch_page{
    height:100%;
    width:100%;

    display:grid;
    z-index:-1;
    background-color:red;
}
#Middag_Page{
    height:100%;
    width:100%;

    display:grid;
    z-index:1;
    background-color:blue;
}
#Extras_Page{
    height:100%;
    width:100%;

    display:grid;
    z-index:1;
    background-color:green;
}


.lunchfocus{
    opacity:0%;
}

 button{
    background:none;
    width:20%;
    margin:5px;
 }
 button:hover{
    box-shadow:1px 1px 1px black inset;
 }
button:active{
    background-color:black;
}


.menu_section{
    display:flex;
    height:fit-content;
    width:100vw;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
    position:absolute;
}





/* Menu items */

.menu_item{

    overflow:hidden;
    border:1px solid black;
    border-radius: 10px;
    width: 25%;
    height: 40vh;
    text-align:center;

    background-image: url(/img/food/Dining-Options_Header.jpeg);
    background-size:100% 100%;

    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    'itemtitle itemtitle'
    'itemimg itemimg'
    'itemdesc itemdesc'
    'itemprice itemprice';
    background-size: 100% 100%;
}

.itemtitle{
    grid-area:itemtitle;
    text-align:center;
    backdrop-filter: blur(var(--backdropfilter));
}

.itemimg{
    grid-area:itemimg;
}
.itemdesc{
    grid-area:itemdesc;
    backdrop-filter: blur(var(--backdropfilter));
}
.itemprice{
    font-weight:900;
    font-size:1.25em;
    text-align:center;
    grid-area:itemprice;
    backdrop-filter: blur(20px);
}